<div class="{{ data.widgetPrefix }}_list-row list-row-head js-list-row js-list-row-head " id="list_head">                        

    <div class="js-sort_priority {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-name list-row__cell-name  ui-resizable" data-field-template="name" data-field-name="" data-field-code="name" style="text-align: center; width: 100px;">
        <div class="{{ data.widgetPrefix }}_cell-head__inner" style="border-left: 1px solid #e5e5e5;">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Приоритет
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_shopName {{ data.widgetPrefix }}_table-head__client {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="text-align: center;">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Клиент
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_address {{ data.widgetPrefix }}_table-head__address {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="text-align: center;">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Адрес
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_distance {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="text-align: center; width: 105px;">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Расстояние
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_vacancy {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="text-align: center; width: 100px;">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Вакансия
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_gender {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="text-align: center; width: 100px;">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Пол
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_salary {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="text-align: center; width: 100px;">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Ставка
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

    <div class="js-sort_intervals {{ data.widgetPrefix }}_list-row__cell {{ data.widgetPrefix }}_js-hs-prevent js-resizable-cell list-row__cell-head {{ data.widgetPrefix }}_cell-head js-cell-head {{ data.widgetPrefix }}_js-cell-head_sortable list-row__cell-template-main_contact list-row__cell-main_contact  ui-resizable" data-field-template="main_contact" data-field-name="" data-field-code="main_contact" style="text-align: center; width: 100px;">
        <div class="{{ data.widgetPrefix }}_cell-head__inner">
            <div class="{{ data.widgetPrefix }}_cell-head__inner-content">
                <span class="cell-head__dots icon icon-v-dots"></span>
                <span class="{{ data.widgetPrefix }}_cell-head__title">
                    Время
                </span>
            </div>
            <div class="cell-head__resize-ghost"></div>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    </div>

</div>